server {
    listen 80;
    client_max_body_size 100m;

    # bucket 名称必须与 api/.env 中 COS_BUCKET 一致
    location /cos/ {
        proxy_pass https://llmops-1258847722.cos.ap-chongqing.myqcloud.com/;
        proxy_set_header Host llmops-1258847722.cos.ap-chongqing.myqcloud.com;
        proxy_ssl_server_name on;
        proxy_request_buffering off;
    }

    location / {
        return 404;
    }
}
